# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# MyPy and Pyright
.mypy_cache/
.pyright/

# Pylint
pylint-report.txt

# Bandit
bandit.yaml

# Sphinx docs
docs/_build/

# PyInstaller
*.manifest
*.spec

# Mac OS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# dotenv
.env
.env.*
!.env.example

# Audio / media files
*.mp3
*.wav
*.m4a
*.aac
*.flac
*.ogg
*.opus
*.mp4
*.mov
*.avi
*.mkv

# Log files
*.log

# SQLite DBs
*.sqlite3

# Temporary files
*.tmp
*.bak
*.swp
*.swo
